<!DOCTYPE html>
<html lang="en">

<head>
  <title>WhatsThatBird</title>
  <link rel="stylesheet" href="../static/styles/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">

</head>

<body>
  <div class="box">
    <h2>Choose Deep Learning Model</h2>
    <a href="/CNNModel"><button class="button">CNN</button></a>
    <a href="/denseNetModel"><button class="button">DenseNet</button></a>
  </div>
</body>
</html?