<!DOCTYPE html>
<html lang="en">

<head>
  <title>WhatsThatBird</title>
  <link rel="icon" href="../static/public/logo.png" />
  <link rel="stylesheet" href="../static/styles/index.css">
  <script src="upload.js" defer></script>
</head>

<body>
    <div class="container1">
        <h1>SELECT IMAGE:</h1>
        <form action="/" method="post" enctype="multipart/form-data">
        <label  for="image_upload" class="design1"> Upload Image:  
        <input id="image_upload" type="file" name="uploadedImage" hidden/>
        <span id="file-chosen" class="span_f">No file choosen</span></label>
        <input type="submit" value="Predict image" class="design">
        </form>
        
    </div>
</body>
</html?