<!DOCTYPE html>
<html lang="en">

<head>
  <title>WhatsThatBird</title>
  <link rel="icon" href="../static/public/logo.png" />
  <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
    <div class="container">
      <img src="../static/public/birdie_bottom_left_corner.jpg" class="image" alt="error"><br>
      <form action="/chooseModel" method="post">
      <a href="Choose.html"> <button class="design">Find Bird</button></a>
      </form>
    </div>
</body>
</html?