<!DOCTYPE html>
<html lang="en">

<head>
  <title>WhatsThatBird</title>
  <link rel="icon" href="../static/public/logo.png" />
  <link rel="stylesheet" href="../static/styles/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<nav>
  <h1>Whats That Bird ? 🐣</h1>
</nav>

<body>

  <div class="box">
    <form action="/chooseModel" method="post">
      <button class="button">Find Bird</button>
    </form>
  </div>
</body>
</html?