a {
  text-decoration: none;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0%;
  background-color: #252E3E;
  align-items: center;
}
h1 {
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
}

.box {
  width: 400px;
  height: 200px;
  background-color: #12C79C;
  margin: auto;
  border-radius: 20px;
  place-items: center;
  display: grid;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  flex-direction: row;
  color: white;
  font-family: sans-serif;
}

.button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: medium;
  color: #12C79C;
  background-color: #252E3E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #1E2532;
}

/* .box {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
}
.container {
  left: 450px;
  top: 100px;
  position: relative;
  width: 600px;
  height: 600px;
  border: 8px solid black;
  padding: 10px;
}
.container1 {
  left: 250px;
  top: 200px;
  text-align: center;
  position: relative;
  width: 1000px;
  height: 300px;
  border: 8px solid black;
  padding: 10px;
}
.image {
  width: 400px;
  height: 300px;
  margin-left: 100px;
  margin-top: 30px;
}
.input[type="file"]{
  display: none;
}
.span_f{
  margin-left: 0.3rem;
  font-family: sans-serif;
  font-size: 14px;
}
.design {
  width: 300px;
  height: 100px;
  border: 6px solid black;
  border-radius: 8px;
  background-color: #9ddcbd;
  color: black;
  font-size: 34px;
  padding: 5px;
  margin-left: 25px;
}
.design1 {
  border: 6px solid black;
  border-radius: 8px;
  background-color: #9ddcbd;
  color: black;
  font-size: 34px;
  padding: 25px;
}
.design:hover {
  background-color: black;
  color: #9ddcbd;
  border: 6px solid #9ddcbd;
  border-radius: 15px;
}
.design1:hover {
  background-color: black;
  color: #9ddcbd;
  border: 6px solid #9ddcbd;
  border-radius: 15px;
} */