a {
  text-decoration: none;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0%;
  background-color: #9ddcbd;
  align-items: center;
}
h1 {
  color: black;
}
.container {
  left: 450px;
  top: 100px;
  position: relative;
  width: 600px;
  height: 600px;
  border: 8px solid black;
  padding: 10px;
}
.container1 {
  left: 250px;
  top: 200px;
  text-align: center;
  position: relative;
  width: 1000px;
  height: 300px;
  border: 8px solid black;
  padding: 10px;
}
.image {
  width: 400px;
  height: 300px;
  margin-left: 100px;
  margin-top: 30px;
}
.input[type="file"]{
  display: none;
}
.span_f{
  margin-left: 0.3rem;
  font-family: sans-serif;
  font-size: 14px;
}
.design {
  width: 300px;
  height: 100px;
  border: 6px solid black;
  border-radius: 8px;
  background-color: #9ddcbd;
  color: black;
  font-size: 34px;
  padding: 5px;
  margin-left: 25px;
}
.design1 {
  border: 6px solid black;
  border-radius: 8px;
  background-color: #9ddcbd;
  color: black;
  font-size: 34px;
  padding: 25px;
}
.design:hover {
  background-color: black;
  color: #9ddcbd;
  border: 6px solid #9ddcbd;
  border-radius: 15px;
}
.design1:hover {
  background-color: black;
  color: #9ddcbd;
  border: 6px solid #9ddcbd;
  border-radius: 15px;
}